.products{
    // background: rgb(34, 33, 33);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
    transition: all 0.5s ease;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 350px;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
    overflow: hidden;
    transition: all 0.5s ease;
}
.card:hover{
    transform: scale(1.08);
}
.card-img{
    width: 200px;
    height: 200px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.card-img:hover{
    transform: scale(1.08);
}
.card-body{
    display: flex;
    flex-direction: column;
    margin-right:90px;

}

.card-name{
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
}
.card-price{
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
}
.btn-prod-add{
    background: rgba(10, 190, 85, 0.808);
    font-family: 'Roboto',sans-serif;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
    overflow: hidden;
}
.btn-prod-add:hover{
    background: rgba(10, 190, 85, 0.808);
    transform: scale(1.2);
}
.btn-prod-delete{
    position: absolute;
    top:20px;
    right:20px;
    background: rgba(17, 17, 17, 0.74);
    opacity: 20%;
    font-size: 16px;
    
}
.btn-prod-add .fa-unlock-keyhole{
    color: #f5f5f5;
}
.btn-prod-delete:hover{
    background: #ffffff;
    opacity: 100%;
    color: #e44b4b;
}

.btn-prod-share{
    position: absolute;
    top:90px;
    right:20px;
    background: rgba(17, 17, 17, 0.74);
    opacity: 20%;
    font-size: 16px;
}
.btn-prod-share:hover{
    opacity: 100%;
    background: rgb(255, 254, 254);
    color: rgb(25, 214, 18);
}
.btn-prod-modif{
    position: absolute;
    top:155px;
    right:20px;
    background: rgba(17, 17, 17, 0.74);
    opacity: 20%;
    font-size: 16px;
}
.btn-prod-modif:hover{
    opacity: 100%;
    color: rgb(0, 21, 255);
    background: rgb(255, 255, 255);
}
.btn-prod-view{
    position: absolute;
    top:210px;
    right:20px;
    background: rgba(37, 37, 37, 0.637);
    color: #fff;
    font-size: 14px;

}
.btn-prod-view:hover{
    background: #000;
    color: #f5f5f5;
}
.clip-card{
    display: flex;
    align-items: center;
    justify-content: center;
}